<div class="page-background">
  <div style="padding-top: 24px">
    <mat-card class="card">
      <mat-card-title>
        Add new project
      </mat-card-title>
      <mat-card-content>
        <br>
        <mat-form-field class="card__field" color="primary" appearance="outline" style="margin-right: 20px; width: 80%">
          <mat-label>Project name</mat-label>
          <input matInput [(ngModel)]="newName">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="add()" [disabled]="!newName">
          Add project
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="padding-top: 24px">
    <mat-card *ngFor="let project of projects" class="card">
      <mat-card-content class="detail">
        <span>{{project.name}}</span>
        <button mat-flat-button class="detail__button" color="primary" (click)="activate(project)"
                [disabled]="project.isValid">
          Activate
        </button>
        <button mat-flat-button class="detail__button" color="primary" (click)="deactivate(project)"
                [disabled]="!project.isValid">
          Deactivate
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
